# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 钟鼓楼
subtitle: '钟楼瘦，鼓楼胖'
description: 'Can you hear me?'
keywords: Thysrael,博客,Blog,计算机科学,Computer Science,操作系统,Operating System,Linux,Kernel,计算机组成,Computer Architecture,MIPS,Verilog,数据库,Database,DBMS,SQL,编译技术,Compiler,LLVM,并行计算,Parallel Computing,GPU,Sys4AI,算法,Algorithm,数据结构,Data Structure,C++,Python,数学分析,离散数学,概率统计
author: Thysrael
language: en
timezone: 'Asia/Shanghai'

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
#url: http://example.com
url: https://thysrael.github.io/
permalink: posts/:abbrlink/
abbrlink:
  alg: crc32
  rep: hex
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# sitemap
sitemap:
  path: sitemap.xml
baidusitemap:
  path: baidusitemap.xml

# nofollow 标签
nofollow:
  enable: true
  field: site
  exclude: ''

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight:
  enable: false
  line_number: false
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: true
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 6
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 12
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: next

#pinyin
permalink_pinyin:
  enable: true
  separator: '-' # default: '-'

#emoji
githubEmojis:
  enable: true
  className: github-emoji
  inject: true
  styles:
  customEmojis:

# Search
search:
  path: search.xml
  field: post
  format: html
  limit: 10000

#RSS
feed:
  type: atom
  path: atom.xml
  limit: 20
  hub:
  content: true
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date

# hexo-neat 优化提速插件（去掉HTML、css、js的blank字符）
# neat_enable: true
# neat_html:
#   enable: true
#   exclude:
#     - '**/*.md'
# neat_css:
#   enable: true
#   exclude:
#     - '**/*.min.css'
# neat_js:
#   enable: true
#   mangle: true
#   output:
#   compress:
#   exclude:
#     - '**/*.min.js'
#     - '**/matery.js' # 注意，这个是正对 matery 主题的 bug 修复

# pdf:
#   enable: true
#   # Default height
#   height: 500px
#   pdfobject:
#     # Use 2.1.1 as default, jsdelivr as default CDN, works everywhere even in China
#     cdn: //cdn.jsdelivr.net/npm/pdfobject@2.1.1/pdfobject.min.js
#     # CDNJS, provided by cloudflare, maybe the best CDN, but not works in China
#     #cdn: //cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js

excerpt:
  depth: 5
  excerpt_excludes: []
  more_excludes: []
  hideWholePostExcerpts: true

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  - type: git
    #repo: https://github.com/livingfrontier/livingfrontier.github.io.git
    repo: git@github.com:Thysrael/Thysrael.github.io.git
    branch: main
